@model E_Ticaret.Models.User

@{
    ViewBag.Title = "Giriş Yap";
    Layout = "~/Views/Shared/_Site_Layout.cshtml";
}
<div class="offset-md-2 offset-lg-3 offset-2">
    <form method="post" action="KullaniciGiris">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                <div class="alert col-lg-7 col-md-9 col-sm-7 col-9" style="text-align:center;color:red">@ViewBag.error</div>
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <input type="email" name="userEmail" class="form-control col-xl-7 col-lg-9 col-md-12 col-sm-9 col-11" placeholder="Emailinizi Giriniz" required />
            </div>
            <div class="form-group" style="padding-bottom:10px">
                <input type="password" name="userPassword" class="form-control col-xl-7 col-lg-9 col-md-12 col-sm-9 col-11" placeholder="Şifrenizi Giriniz" required />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-outline-secondary btn-lg col-xl-7 col-lg-9 col-md-12 col-sm-9 col-11">GİRİŞ YAP</button>
            </div>
            <a href="/SifremiUnuttum" style="text-decoration:none;color:crimson">Şifremi Unuttum</a>
        </div>
</form>
</div>